@import "tailwindcss";

@theme {
    --color-primary: #29D9FF;
    --color-secondary: #0066ff;
    --color-accent: #bf00ff;

    --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    scroll-behavior: smooth;
    background-color: #050505;
}

body {
    font-family: var(--font-sans);
}

::selection {
    background-color: #29D9FF;
    color: #000;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #29D9FF;
}

/* Utilities */
.text-stroke {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
}