---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Cases from '../components/Cases.astro';
import HeatmapSection from '../components/HeatmapSection'; // Import Heatmap Section
import Footer from '../components/Footer.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Neurux | Eye Tracking UX Research">
	<main>
		<Hero />
		<About />
		<Services />
        <HeatmapSection client:only="react" /> {/* Add Heatmap Section */}
{/* <Cases /> */}
        <ContactForm />
        <Footer />
	</main>
</Layout>
